
$radius:10px;
$grey: #e2e2e4;
$red: #fd5f57;
$red-border: #dd4239;
$yellow: #febc2c;
$yellow-border: #dd9d27;
$green: #28ca41;
$green-border: #1ba327;
$window-border-radius: 10px;
.window{
  max-width:800px;
  width:100%;
  height:600px;
  margin: 0 auto;
  .header{
    height:$radius*4;
    width:100%;
    background-color:$grey;
    border-radius:$window-border-radius $window-border-radius 0 0;
  }
  .buttons{
    height:$radius*2;
    margin-left: $radius;
  }
  .button{
    display:inline-block;
    width:$radius*2;
    height:$radius*2;
    border-radius:12px;
    margin:$radius 2px;
    &.red{
      background-color:$red;
      border: 1px solid $red-border;
    }
    &.yellow{
      background-color:$yellow;
      border: 1px solid $yellow-border;
    }
    &.green{
      background-color:$green;
      border: 1px solid $green-border;
    }
  }
}