$green:#8fd00c ;
$red:#a91232;
$mustard:#b7b74d;
$purple:#8c5b9f;
$white:#cbcbcb;
$grey:#808072;
$background:#2c2d27;

*{
  box-sizing:border-box;
}
body{
  background:#eaeaea;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text--green{
  color:$green;
}
.text--red{
  color:$red;
}
.text--mustard{
  color:$mustard;
}
.text--purple{
  color:$purple;
}
.text--white{
  color:$white;
}
.text--grey{
  color:$grey;
}

.bold{
  font-weight: 600;
}

.total-container{
  padding:40px;
}
.profile-container{
  width: 100%;
  margin-bottom:20px;
}
.photo-container{
  text-align:center;
  margin-bottom:22px;
  .photo{
    border-radius:50%;
    vertical-align:middle;
  }
}
.txt{
  color:#444;
  font-size:13px;
}
.name{
  font-size:18px;
  font-weight:600;
  margin-bottom:8px;
}
.centered{
  text-align:center;
}

.info-container{
  background:$background;
  letter-spacing: 1px;
  border-radius:3px;
  padding:20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.links{
  margin:0;
  padding:0;
  list-style:none;
  li a{
    color:#33a0ff;
    text-decoration:none;
    &:visited,&:active{
      color: $purple
    }
  }
}
.cursor{
  width:4px;
  margin:1px 0;
  height:20px;
  background-color:$white;
  -webkit-animation: 2s blink step-end infinite;
  -moz-animation: 2s blink step-end infinite;
  -ms-animation: 2s blink step-end infinite;
  -o-animation: 2s blink step-end infinite;
  animation: 2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

@-moz-keyframes blink {
  from, to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

@-ms-keyframes "blink" {
  from, to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

@-o-keyframes "blink" {
  from, to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}